################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SisVenta/FileContentIndex/2514b22c-ec3e-4880-aa0f-3e2b06b1f967.vsidx
/.vs/SisVenta/FileContentIndex/94e1c138-132a-4f94-ae54-8ac0a60e8e0f.vsidx
/.vs/SisVenta/FileContentIndex/60c55e60-e2b4-457e-924d-6d06f0aa47a0.vsidx
/.vs/SisVenta/FileContentIndex/b024184a-4621-4f3c-8e04-02655997f7a1.vsidx
